.checkout {
	display: flex;
	justify-content: space-between;
	height: max-content;
	background-color: #ffffff;
	padding: 20px;
}

.checkout__ad {
	width: 100%;
	margin-bottom: 10px;
}

.checkout__title {
	font-weight: 400;
	font-size: 28px;
	line-height: 1.2;
	margin-right: 10px;
	padding: 10px;
	border-bottom: 1px solid #dddddd;
}

.checkout__name {
	font-size: 16px;
	font-weight: 600;
	color: #0066c0;
}

.checkout__listSubtotal {
	display: flex;
	justify-content: flex-end;
}
