.register {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	background-color: #ffffff;
}

.register__logo {
	width: 107px;
	margin: 12px auto;
	object-fit: contain;
}

.register__container {
	display: flex;
	flex-direction: column;
	width: 350px;
	height: fit-content;
	padding: 14px 18px;
	border-radius: 4px;
	border: 1px #dddddd solid;
	background-color: #ffffff;
	margin-bottom: 30px;
}

.register__title {
	font-family: inherit;
	font-weight: 400;
	font-size: 28px;
	line-height: 1.2;
	margin-bottom: 14px;
	color: #111111;
}

.register__form {
	display: flex;
	flex-direction: column;
}

.register__label {
	font-family: inherit;
	font-size: 13px;
	font-weight: 600;
	padding-bottom: 2px;
	padding: 0 0 2px 2px;
	color: #111111;
	line-height: 19px;
}

.register__input {
	height: 31px;
	font-family: inherit;
	background-color: #ffffff;
	color: #111111;
	line-height: normal;
	border: 1px solid #a6a6a6;
	border-top-color: #949494;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(0, 0, 0, 0.07) inset;
	outline: 0;
	padding: 3px 7px;
	margin-bottom: 15px;
	transition: all 100ms linear;
}

.register__input:focus {
	border-color: #e77600;
	box-shadow: 0 0 3px 2px rgba(228, 121, 17, 0.5);
}

.register__passwordInfo {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 15px;
	margin-top: -8px;
}

.register__passwordInfo p {
	font-size: 12px;
	line-height: 15px;
	padding-left: 10px;
	color: #111111;
}

.register__passwordInfo i {
	font-family: serif;
	font-style: italic;
	font-size: 17px;
	font-weight: 700;
	padding-left: 3px;
	margin-top: -2px;
	color: #1291c4;
}

.register__button {
	background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
	border-radius: 3px;
	border-color: #a88734 #9c7e31 #846a29;
	border-style: solid;
	border-width: 1px;
	color: #111111;
	text-decoration: none;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
	cursor: pointer;
	text-align: center;
	height: 29px;
	width: 100%;
	padding: 0 10px;
	font-size: 13px;
	font-family: inherit;
}

.register__button:hover {
	background: linear-gradient(to bottom, #f5d78e, #eeb933);
	border-color: #a88734 #9c7e31 #846a29;
	color: #111;
}

.register__button:focus {
	outline: 0;
	border-color: #e77600;
	box-shadow: 0 0 3px 2px rgba(228, 121, 17, 0.5);
}

.register__agreement {
	font-family: inherit;
	font-size: 12px;
	line-height: 1.5;
	margin-top: 18px;
	width: 100%;
}

.register__divider {
	width: 100%;
	margin-top: 26px;
	height: 25px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.03) 3px, transparent);
	z-index: 0;
	zoom: 1;
}

.register__divider::after {
	display: block;
	height: 25px;
	background-color: transparent;
	background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0), #fff);
	z-index: 1;
	content: "";
}

.register__signinContainer {
	display: flex;
	justify-content: flex-start;
	font-size: 13px;
	font-family: inherit;
	line-height: 19px;
	color: #111;
}

.register__signinContainer p {
	margin-right: 5px;
}

.register__signinContainer a {
	text-decoration: none;
	color: #0066c0;
}

.register__footerDivider {
	width: 100%;
	margin-top: 30px;
	height: 44px;
	margin-bottom: 30px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.03) 3px, transparent);
	z-index: 0;
	zoom: 1;
}

.register__footerDivider::after {
	display: block;
	height: 44px;
	background-color: transparent;
	background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0), #fff);
	z-index: 1;
	content: "";
}
