.payment {
	background-color: #ffffff;
	height: max-content;
}

.payment__container {
	padding-bottom: 30px;
}

.payment__header {
	text-align: center;
	padding: 10px;
	font-size: 30px;
	font-family: inherit;
	font-weight: 400;
}

.payment__header > span {
	color: #111111;
	padding-right: 10px;
}

.payment__detailsContainer {
	margin: 0 10%;
	border: 1px solid #d5d9d9;
	border-radius: 8px;
}

.payment__recipientInfo > span {
	color: #007185;
	display: block;
	margin-bottom: 20px;
}

.payment__address {
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border: 1px solid #a2a6ac;
	width: 50%;
	line-height: 1.2;
	padding: 10px 12px;
	color: #888888;
}

.payment__address[contenteditable]:focus {
	outline: none;
	border: 1px solid #e77600;
	box-shadow: 0 0 3px 2px rgba(228, 121, 17, 0.5);
	line-height: 0.9;
}

.payment__section {
	display: flex;
	padding: 20px;
	margin: 0 20px;
}

.payment__section:not(:last-child) {
	border-bottom: 1px solid #cccccc;
}

.payment__title {
	flex: 0.2;
	color: #111111;
}

.payment__recipientInfo,
.payment__items {
	flex: 0.8;
}

.payment__details {
	flex: 0.25;
}

.payment__items > .cartItem {
	margin-bottom: 0;
	padding-bottom: 0;
}

.payment__priceContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 220px;
	border: 1px solid #d5d9d9;
	border-radius: 8px;
	padding: 15px;
	margin-top: 20px;
	margin-bottom: 15px;
}

.payment__priceContainer > p {
	font-size: 16px;
	font-weight: 600;
	color: #111111;
	margin-bottom: 15px;
}

.payment__priceValue {
	font-weight: 500;
	color: #b12704;
}

.payment__buyNow {
	display: flex;
	align-items: center;
	background: linear-gradient(to bottom, #f6c88f, #ed9220);
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: #ca7c1b #be751a #a56616;
	color: #111;
	text-decoration: none;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
	cursor: pointer;
	text-align: center;
	height: 30px;
	width: 175px;
	padding: 0 10px;
	font-size: 13px;
	font-family: inherit;
}

.payment__buyNow:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.payment__buyNow:not(:disabled):hover {
	background: linear-gradient(to bottom, #f4bc77, #e18512);
	border-color: #be751a #b26d18 #9a5f15;
	color: #111;
}

.payment__buyNow:not(:disabled):focus {
	outline: 0;
	border-color: #be751a #b26d18 #9a5f15;
	box-shadow: 0 0 3px 2px rgba(228, 121, 17, 0.5);
}

.payment__stripeIcon {
	height: 100%;
	margin-left: -10px;
}

.payment__stripeIcon > img {
	width: 30px;
	height: 30px;
	padding-bottom: 2px;
}

.payment__btnText {
	flex: 1;
	line-height: 2.2;
}
